@charset "UTF-8";

    .header{
    background-color: var(--gray-1);
    padding: 20px;
    width: 100%;
    position: sticky; 
    top: 0; 
    z-index: 1; 
    border-bottom: 2px solid var(--brand-1);
    }

    .header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    }

    .header__logo{
    color: var(--gray-7);
    width: 110px;
    height: 20px;
    }
    .header__button{
    background-color:var(--gray-1);
    color: var(--gray-7);
    border: 1px solid var(--gray-7);
    padding: 10px 10px;
    font-weight: var(--text-4-weigth);
    font-size: var(--text-4-size);
    line-height: var(--text-4-line-heigth);
    }

    .header__button:hover{
    cursor: pointer;
    }

    .main{
    margin: 0;
    }


    .Banner{
        width: 100%;
        color:var(--gray-6);
        background-color: var(--gray-2);
        font-family: var(--fonte-primary);
         padding: 200px 80px ;
    }


    .Banner__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    align-content: center
    }


    .Banner__title{
    text-align: center;
    color:var(--gray-6);
    font-weight: var(--title-1-weigth);
    font-size: var(--title-1-size);
    line-height: var(--title-1-line-heigth);

    }

    .Banner__destaque{
    color:var(--brand-2) ;
    font-weight: var(--title-1-weigth);
    font-size: var(--title-1-size);
    line-height: var(--title-1-line-heigth);
    }

    .Banner__paragraph{
        width: 70%;
        color: var(--gray-4);
        font-weight: var(--text-1-weigth);
        font-size: var(--text-1-size);
        line-height: var(--text-1-line-heigth);
        text-align: center;
    }

    .Banner__button{
        font-weight: var(--text-4-weigth);
        font-size: var(--text-4-size);
        line-height: var(--text-4-line-heigth);
        background-color: var(--brand-2);
        padding: 10px 10px;
        color: var(--gray-7);
        border: none;
    }



    .about{
        background-color: var(--gray-1);
        font-family: var(--fonte-primary);
        padding: 50px 50px;
    }

    .about__content{
        display: flex;
        align-items: center;
        width: 100%;
    }

    .about__title{
        width: 100%;
        color:var(--gray-6) ;
        margin: 40px;
        font-weight: var(--title-2-weigth);
    font-size: var(--title-2-size);
    line-height: var(--title-2-line-heigth);
    }

    .about__paragraph{
        color: var(--gray-5);
        font-weight: var(--text-1-weigth);
        font-size: var(--text-1-size);
        line-height: var(--text-1-line-heigth);
        margin-right: 30px;
        text-align: justify;
    }


    .faq{
    background-color: var(--gray-2);
    font-family: var(--fonte-primary);
    width: 100%;
    position: relative;
    }



    .faq__content{
    padding: 100px 30px 100px 30px ;
    display: flex;
    width: 100%;
    margin: 0;
    gap: 60px;
    }



    .faq__content--left{
    padding-left:60px ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: sticky; 
     top: 6rem; 
     
    gap: 20px;
    }

    .fraq__title{
        font-weight: var(--title-2-weigth);
    font-size: var(--title-2-size);
    line-height: var(--title-2-line-heigth);
    color:var(--gray-6) ;
    }

    .fraq__paragraph{
        font-weight: var(--text-1-weigth);
        font-size: var(--text-1-size);
        line-height: var(--text-1-line-heigth);
        color: var(--gray-4);
        width: 80%;
        text-align: justify;
    }

    .fraq__button{
        width: 200px;
        background-color: var(--brand-1);
        color: var(--gray-7);
        font-weight: var(--text-4-weigth);
        font-size: var(--text-4-size);
        line-height: var(--text-4-line-heigth);
        border: none;
    }

    .fraq__button:hover{
        cursor: pointer;
    }

    .fraq__list{
        list-style: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .fraq__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .fraq__question{
        align-items: center;
        font-weight: var(--title-3-weigth);
        font-size: var(--title-3-size);
        line-height: var(--title-3-line-heigth);
        color: var(--gray-6);
    }


    .fraq__answer{
        color: var(--gray-4);
        font-weight: var(--text-1-weigth);
        font-size: var(--text-1-size);
        line-height: var(--text-1-line-heigth);
    text-align: center;
    

    }

    .Comments{
        font-family: var(--fonte-primary);
        background-color: var(--gray-2);
        width: 100%;
        padding: 80px 10px;
    }


    .Comments__content{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        gap: 30px;
    }

    .Comments__content--right{
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color:var(--brand-1) ;
        position: sticky; 
        top: 6rem; 
        width: 100%;
        
    }



    .Comments__title{
        color: var(--gray-7);
    font-weight: var(--title-2-weigth);
    font-size: var(--title-2-size);
    line-height: var(--title-2-line-heigth);

    }


    .comments__paragraph{
        font-weight: var(--text-1-weigth);
        font-size: var(--text-1-size);
        line-height: var(--text-1-line-heigth);
        color: var(--gray-5);
    }


    .comments__list{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap:20px;
    }

    .comments__item{
        display: flex;
        align-items: center;
        width: 100%;
    gap:30px ;
    }


    .comments__user{
        width: 100%;
    }

    .comments__name{
        color: var(--gray-6);
        font-weight: var(--title-3-weigth);
        font-size: var(--title-3-size);
        line-height: var(--title-3-line-heigth);
    }

    .comments__info{
        color: var(--gray-4);
        font-weight: var(--text-3-weigth);
        font-size: var(--text-3-size);
        line-height: var(--text-3-line-heigth);

    }


    .comments__text{
        color:var(--gray-5);
        font-weight: var(--text-3-weigth);
        font-size: var(--text-3-size);
        line-height: var(--text-3-line-heigth);
        text-align: justify;
    }

    .footer{
    background-color: var(--gray-1);   
    display: flex;
    justify-content: center;
    color: var(--gray-6);
    padding: 30px 30px;
    }

    .modal{
        margin: auto;
        width: 500px;
        border: 1px solid  var(--brand-1);
    }

    .modal::backdrop{
        background-color: var(--gray-1);
        opacity: 80%;
    }

    .modal__content{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 30px;
        background-color: var(--gray-2);
        font-family: var(--fonte-primary);
    }

    .modal__info{
        display: flex;
        justify-content: space-between;
    
        align-items: center;
    }

    .modal__title{
        color: var(--gray-7);
        font-weight: var(--title-3-weigth);
        font-size: var(--title-3-size);
        line-height: var(--title-3-line-heigth);
    }

    .material-symbols-outlined{
        background-color: var(--gray-3);
        color:var(--gray-4);
        padding: 5px;
        border-radius: 4px;
    }

    .material-symbols-outlined:hover{
    cursor: pointer;
    }

    .modal__paragraph{
        font-weight: var(--text-3-weigth);
        font-size: var(--text-3-size);
        line-height: var(--text-3-line-heigth); 
        color: var(--gray-4);
        text-align: justify;
    }

    .modal__input{
        background-color: var(--gray-1);
        border: none;
        color: var(--gray-7);
        padding: 10px;
    }

    .modal__button{
        font-weight: var(--text-4-weigth);
        font-size: var(--text-4-size);
        line-height: var(--text-4-line-heigth); 
        color: var(--gray-7);
        background-color: var(--brand-1);
        border: none;
        padding: 10px;
    
}

@media ( max-width:1024px) {

    .header__logo{
        width: clamp(6.25rem, 45%, 7.5rem );
    }   

    .header__button{
        padding: clamp(0.3rem,-0.310rem + 1.692vw, 0.625rem);
    }

    .Banner__title{
    font-size: clamp(1rem,0.71rem + 4.359vw,3.25rem);
    }
    
    .Banner__destaque{
        font-size: clamp(1rem,0.71rem + 4.359vw,3.25rem);
    }

    .Banner__paragraph{
        font-size: clamp(0.8rem, 0.544rem + 1.026vw, 1.25rem);
    }
    
    .Banner__button{
        padding: clamp(0.3rem,-0.310rem + 1.692vw, 0.625rem);
    }

    .about__title{
    font-size: clamp(1.25rem, 0.449rem + 3.25vw,2.5rem);
    }

 .about__paragraph{
        font-size: clamp(0.8rem, 0.544rem + 1.026vw, 1.25rem);
        margin: 0px;
    }

    .fraq__title{
        font-size: clamp(1.25rem, 0.449rem + 3.25vw,2.5rem);
    }

    .fraq__paragraph{
        font-size: clamp(0.8rem, 0.544rem + 1.026vw, 1.25rem);
    }

    .fraq__question{
        font-size: clamp(1.2rem, 0.249rem + 2.2vw, 2rem);
    }

    .fraq__answer{
        font-size: clamp(0.8rem, 0.544rem + 1.026vw, 1.25rem);
    }

    .Comments__content--right{
        padding: clamp(0.8rem,-0.610rem + 4.692vw, 1.25rem);
    }

    .Comments__title{
        font-size: clamp(1.25rem, 0.449rem + 3.25vw,2.5rem);
    }

    .comments__paragraph{
        font-size: clamp(0.8rem, 0.544rem + 1.026vw, 1.25rem);
    }

    .comments__name{
        font-size: clamp(1.2rem, 0.249rem + 2.2vw, 2rem);
    }
    .comments__info{
        font-size: clamp(0.45rem, 0.345rem + 960vw, 1rem);
    }
    .comments__text{
        font-size: clamp(0.45rem, 0.345rem + 960vw, 1rem);
    }

    .modal__title{
        font-size: clamp(1.2rem, 0.249rem + 2.2vw, 2rem);
    }
    .modal__paragraph{
        font-size: clamp(0.45rem, 0.345rem + 960vw, 1rem);
        text-align: center;
    }
    .modal__button{
        padding: clamp(0.3rem,-0.310rem + 1.692vw, 0.625rem);
    }
}


@media(max-width:768px){
    .Banner{
        padding: clamp(30px, 5vw, 40px) 10px
    }
    .about{
        padding: clamp(30px, 5vw, 40px) 10px
    }
    .about__content{
        flex-direction: column;    
    }

    .about__title{
            text-align: center;
    }
    
    .about__paragraph{
            text-align: center;
            margin-right: 0px;
            
    }

    .faq__content{
        padding: clamp(30px, 5vw, 40px) 10px;
    flex-direction: column;  
    align-items: center;
    
    }   

    .faq__content--left{
        width: 100%;
        padding: 0px;
        align-items: center;
    }
    .fraq__button{
        width: 100%;
        padding: clamp(0.3rem,-0.310rem + 1.692vw, 0.625rem);
    }
    .fraq__question{
        text-align: center;
    }

    .fraq__list{
        width: 100%;
    }

    .fraq__paragraph{
        text-align: justify;
        width: 100%;
    }
    .Comments{
        width: 100%;
        padding: 10px;
    }

    .Comments__content{
        flex-direction: column;
        margin: 0;
        width: 100%;
        margin-top: 30px;
        padding-bottom: 30px;
    }


    .Comments__content--right{
        padding: clamp(2rem,0.91rem + 4.359vw,5.25rem);

    }
    
    .comments__item{
        flex-direction: column;
        gap:15px ;
    }
    .comments__user{
        display: flex;
    align-items: center;
    gap: 10px;
    }
}

@media(max-width:425px){
    .header__button{
        display: none;
    }

    .Banner{
        padding: clamp(2rem,0.91rem + 4.359vw,5.25rem);
    }
    .Banner__button{
        padding: clamp(0.8rem,-0.610rem + 4.692vw, 1.25rem);
    }

    .about{
        padding: clamp(30px, 5vw, 40px) 10px
    }

    .about__content{
        flex-direction: column;
    }

    .about__title{
        text-align: center;
    }
    .about__paragraph{
        margin-right: 0px;
    }

    .fraq__button{
        padding: clamp(1.4rem,0.81rem + 2.359vw,4.25rem);
    }
    .faq__content--left {
        align-items: center;
    }
}

    .Comments__content--right{
        padding: clamp(2.1rem,1.5rem + 9.359vw, 7.25rem);
    }

